/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

hr {
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  opacity: 0.6;
  color: #1f3f68;
}

/* Page Top */

.top {
  background: linear-gradient(0deg, #ebf3fb 8.84%, #98c3e800 31.12%);
}

.top__box {
  display: flex;
  flex-direction: column;
  min-height: 768px;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  list-style: none;
}

.top__info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(./img/top__bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 44%;
}

.top__heading {
  width: 510px;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 64px;
  line-height: 116%;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.top__text {
  width: 425px;
}

.top__button {
  margin-top: 71px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #ffffff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

/* Content */

.heading-big {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.what-we-do {
  padding-top: 64px;
}

.heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.05em;
}

.card-box {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.card__img {
  align-self: center;
  margin-bottom: 51px;
}

.heading-mini {
  margin-bottom: 14px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 150%;
  color: #1f3f68;
}

.card__link {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #5a98d0;
}

/* Project */

.project {
  padding-top: 64px;
}

.text_project {
  margin: 32px auto 64px;
  width: 75%;
  text-align: center;
  color: #222222;
  opacity: 1;
}

.project__img {
  width: 100%;
}

.project__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project__item {
  position: relative;
}

.project__item + .project__item {
  margin-left: 32px;
}

.project__text {
  position: absolute;
  top: 64px;
  right: 64px;
  font-size: 32px;
  line-height: 144%;
  letter-spacing: 0.05em;
  text-align: right;
  color: #ffffff;
}

.project__text_mini {
  top: 32px;
  right: auto;
  left: 32px;
  font-size: 28px;
  line-height: 164%;
  text-align: left;
}

/* Footer */

.footer {
  margin-top: 112px;
  padding-top: 91px;
  padding-bottom: 64px;
  background: #316099;
}

.footer__top {
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  width: 495px;
}

.footer__heading {
  width: 340px;
  margin-bottom: 32px;
  color: #fff;
  text-align: left;
}

.text_footer {
  color: #ffffff;
}

.footer__button {
  padding: 15px 80px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  background: #5a98d0;
  color: #ffffff;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.footer__list {
  display: flex;
  flex-grow: 1;
  flex-basis: 33.3%;
  margin-right: 32px;
  list-style-type: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #fff;
}

.footer__list:first-child::before {
  content: 'A.';
  display: block;
  margin-right: 16px;
}

.footer__list:nth-child(2)::before {
  content: 'T.';
  display: block;
  margin-right: 16px;
}

.footer__list:last-child::before {
  content: 'E.';
  display: block;
  margin-right: 16px;
}

.footer__copy {
  margin-top: 64px;
}

.text_copy {
  color: #ffffff;
  opacity: 0.4;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__info {
    background-position: right 75%;
  }
  .card-box {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-bottom: 32px;
  }
  .footer {
    padding-top: 47px;
  }
  .container_footer {
    padding-left: 124px;
    padding-right: 124px;
  }
  .footer__top {
    padding-bottom: 64px;
  }
  .footer__text {
    width: 336px;
  }
  .footer__button {
    padding: 4px 30px;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer__list + .footer__list {
    margin-top: 25px;
  }
}

@media (max-width: 1024px) and (min-width: 668px) {
  .card {
    max-width: 360px;
  }
}

@media (max-width: 667px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    padding-bottom: 41px;
    box-sizing: border-box;
  }
  .top__box {
    min-height: 376px;
  }
  .header {
    margin-top: 24px;
  }
  .top__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    background-image: none;
  }
  .top__heading {
    width: 100%;
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }
  .top__text {
    width: 100%;
    text-align: center;
  }
  .top__button {
    font-size: 12px;
    line-height: 217%;
    padding: 0 8px;
  }
  .heading {
    font-size: 24px;
    line-height: 28px;
  }
  .what-we-do {
    padding-top: 48px;
  }
  .card-box {
    padding-top: 32px;
  }
  .card {
    width: 100%;
  }
  .text_project {
    width: 100%;
  }
  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }
  .project__text {
    left: 16px;
  }
  .project__parent {
    flex-direction: column;
    margin-top: 16px;
  }
  .project__item + .project__item {
    margin-left: 0;
    margin-top: 16px;
  }
  .footer {
    margin-top: 64px;
    padding-top: 18px;
    padding-bottom: 32px;
  }
  .footer__top {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .footer__heading,
  .text_footer {
    text-align: center;
  }
  .footer__button {
    margin-top: 40px;
  }
  .footer__info {
    margin-top: 32px;
  }
  .footer__list {
    line-height: 19px;
  }
  .footer__copy {
    margin-top: 37px;
  }
}

/* Contacts Page */

.contacts {
  display: flex;
  justify-content: space-around;
}

.input-field {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.submit {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
