* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

hr {
  opacity: 0.4;
  border: 1px solid #fff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 667px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 1024px) and (min-width: 668px) {
  .container_footer {
    padding-left: 124px;
    padding-right: 124px;
  }
}

.text {
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  opacity: 0.6;
  color: #1f3f68;
}

.text_project {
  margin: 32px auto 64px;
  width: 75%;
  text-align: center;
  color: #222222;
  opacity: 1;
}

@media (max-width: 667px) {
  .text_project {
    width: 100%;
  }
}

.text_footer {
  color: #fff;
}

@media (max-width: 667px) {
  .text_footer {
    text-align: center;
  }
}

.text_copy {
  color: #fff;
  opacity: 0.4;
}

.top {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #ebf3fb), color-stop(31.12%, #98c3e800));
  background: linear-gradient(0deg, #ebf3fb 8.84%, #98c3e800 31.12%);
}

@media (max-width: 667px) {
  .top {
    padding-bottom: 41px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 768px;
  height: 100%;
}

@media (max-width: 667px) {
  .top__box {
    min-height: 376px;
  }
}

.top__info {
  padding-top: 115px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(./img/top__bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 44%;
}

@media (max-width: 1024px) {
  .top__info {
    background-position: right 75%;
  }
}

@media (max-width: 667px) {
  .top__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 36px;
    background-image: none;
  }
}

.top__heading {
  width: 510px;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 64px;
  line-height: 116%;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

@media (max-width: 667px) {
  .top__heading {
    width: 100%;
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }
}

.top__text {
  width: 425px;
}

@media (max-width: 667px) {
  .top__text {
    width: 100%;
    text-align: center;
  }
}

.top__button {
  margin-top: 71px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #fff;
  background: #5a98d0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

@media (max-width: 667px) {
  .top__button {
    font-size: 12px;
    line-height: 217%;
    padding: 0 8px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 42px;
  list-style: none;
}

@media (max-width: 667px) {
  .header {
    margin-top: 24px;
  }
}

.heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.05em;
}

@media (max-width: 667px) {
  .heading {
    font-size: 24px;
    line-height: 28px;
  }
}

.what-we-do {
  padding-top: 64px;
}

@media (max-width: 667px) {
  .what-we-do {
    padding-top: 48px;
  }
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
}

@media (max-width: 1024px) {
  .card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 667px) {
  .card-box {
    padding-top: 32px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  padding: 44px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .card {
    margin-bottom: 32px;
  }
}

@media (max-width: 1024px) and (min-width: 668px) {
  .card {
    max-width: 360px;
  }
}

@media (max-width: 667px) {
  .card {
    width: 100%;
  }
}

.card__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.card__link {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #5a98d0;
}

.heading-mini {
  margin-bottom: 14px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 150%;
  color: #1f3f68;
}

.project {
  padding-top: 64px;
}

.project__img {
  width: 100%;
}

.project__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

@media (max-width: 667px) {
  .project__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
  }
}

.project__item {
  position: relative;
}

.project__item + .project__item {
  margin-left: 32px;
}

@media (max-width: 667px) {
  .project__item + .project__item {
    margin-left: 0;
    margin-top: 16px;
  }
}

.project__text {
  position: absolute;
  top: 64px;
  right: 64px;
  font-size: 32px;
  line-height: 144%;
  letter-spacing: 0.05em;
  text-align: right;
  color: #fff;
}

.project__text_mini {
  top: 32px;
  right: auto;
  left: 32px;
  font-size: 28px;
  line-height: 164%;
  text-align: left;
}

@media (max-width: 667px) {
  .project__text_mini {
    left: 16px;
  }
}

@media (max-width: 667px) {
  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }
}

.footer {
  margin-top: 112px;
  padding-top: 91px;
  padding-bottom: 64px;
  background: #316099;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 47px;
  }
}

@media (max-width: 667px) {
  .footer {
    margin-top: 64px;
    padding-top: 18px;
    padding-bottom: 32px;
  }
}

.footer__top {
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .footer__top {
    padding-bottom: 64px;
  }
}

@media (max-width: 667px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
}

.footer__text {
  width: 495px;
}

@media (max-width: 1024px) {
  .footer__text {
    width: 336px;
  }
}

.footer__heading {
  width: 340px;
  margin-bottom: 32px;
  color: #fff;
  text-align: left;
}

@media (max-width: 667px) {
  .footer__heading {
    text-align: center;
  }
}

.footer__button {
  padding: 15px 80px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  background: #5a98d0;
  color: #fff;
}

@media (max-width: 1024px) {
  .footer__button {
    padding: 4px 30px;
  }
}

@media (max-width: 667px) {
  .footer__button {
    margin-top: 40px;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

@media (max-width: 1024px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 667px) {
  .footer__info {
    margin-top: 32px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  margin-right: 32px;
  list-style-type: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #fff;
}

@media (max-width: 1024px) {
  .footer__list {
    margin-top: 25px;
  }
}

@media (max-width: 667px) {
  .footer__list {
    line-height: 19px;
  }
}

.footer__list:first-child::before {
  content: '1.';
  display: block;
  margin-right: 16px;
}

.footer__list:nth-child(2)::before {
  content: '2.';
  display: block;
  margin-right: 16px;
}

.footer__list:last-child::before {
  content: '3.';
  display: block;
  margin-right: 16px;
}

.footer__copy {
  margin-top: 64px;
}

@media (max-width: 667px) {
  .footer__copy {
    margin-top: 37px;
  }
}
/*# sourceMappingURL=style.css.map */