/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  opacity: 0.6;
  color: #1f3f68;
}

/* Page Top */

.hero {
  height: 768px;
  background: linear-gradient(0deg, #ebf3fb 8.84%, #98c3e800 31.12%);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  list-style: none;
}

.hero__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(./img/top__bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.hero__heading {
  width: 510px;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 64px;
  line-height: 116%;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.hero__text {
  width: 425px;
}

.hero__button {
  margin-top: 71px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #ffffff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

/* Content */

.heading-big {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.what-we-do {
  margin-top: 64px;
}

.heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.05em;
}

.card-box {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.card__img {
  align-self: center;
  margin-bottom: 51px;
}

.heading-mini {
  margin-bottom: 14px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 150%;
  color: #1f3f68;
}

.card__link {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #5a98d0;
}

/* Project */

.project {
  padding-top: 64px;
  padding-bottom: 112px;
}

.text_project {
  margin: 32px auto 64px;
  width: 75%;
  text-align: center;
  color: #222222;
  opacity: 1;
}

.project__img {
  width: 100%;
}

.project__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project__item {
  position: relative;
}

.project__text {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 28px;
  line-height: 164%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.project__text--right {
  top: 64px;
  left: auto;
  right: 64px;
}

/* Footer */

.footer {
  background: #316099;
  color: #ffffff;
}

.footer-top {
  height: 386px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom {
  padding: 64px;
}

.footer-heading {
  width: 340px;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 36px;
  line-height: 128%;
  letter-spacing: 0.05em;
}

.text_footer {
  color: #ffffff;
}

.footer-top__info {
  width: 495px;
}

.footer__button {
  display: inline-block;
  padding: 0 80px;
  box-sizing: border-box;
  height: 56px;
  font-size: 16px;
  text-align: center;
  line-height: 56px;
  letter-spacing: 0.04em;
  text-decoration: none;
  background: #5a98d0;
  color: #ffffff;
}

.hr_footer {
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.contacts-list {
  counter-reset: number;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.contacts-list > li {
  box-sizing: border-box;
  flex-basis: 358px;
  position: relative;
  list-style: none;
  padding-left: 42px;
}

.contacts-list > li::before {
  counter-increment: number;
  content: counter(number) '.';
  position: absolute;
  left: 0;
}

.text_copy {
  color: #ffffff;
  opacity: 0.4;
}

/* Contacts Page */

.contacts {
  display: flex;
  justify-content: space-around;
}

.input-field {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.submit {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
